!! Global settings

! Setting DPI for all application (that use it)
Xft.dpi: 192

! Font settings
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight

! Cursor settings
Xcursor.theme: Adwaita

!! urxvt settings

! Color settings
URxvt*background: #000000
URxvt*foreground: #F0F0F0
URxvt*color0: #000000
URxvt*color8: #686868
URxvt*color1: #B21818
URxvt*color9: #FF5454
URxvt*color2: #18B218
URxvt*color10: #54FF54
URxvt*color3: #B26818
URxvt*color11: #FFFF54
URxvt*color4: #1818B2
URxvt*color12: #5454FF
URxvt*color5: #B218B2
URxvt*color13: #18B2B2
URxvt*color6: #18B2B2
URxvt*color14: #54FFFF
URxvt*color7: #B2B2B2
URxvt*color15: #FFFFFF

! Used fonts
URxvt*font: xft:Inconsolata:size=14

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

! Disable scrollback buffer for secondary screen (like when launching less without -x option)
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0

! Do not show scrollbar
URxvt.scrollBar: false

! Enable blinking cursor
URxvt.cursorBlink: 1

! Enable "fake" transparency
URxvt*transparent: true
URxvt*shading: 21

! Spaces between window border and texts
URxvt.internalBorder: 10
